doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dance Academy 
        block script 
        block style
    body
        nav#navbar
            ul 
                a(href="/")#logo
                    |Dance
                li #[a(href="/") Home]
                li #[a(href="/classinfo") Class info]
                li #[a(href="/contact") Contact Us]

        block content 

        footer#footer
            div.footertop
                div.about
                    h3 About Us
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam quaerat saepe quod corporis odio sapiente animi quos suscipit ipsa architecto, in maxime veniam optio iure.
                div.Catergory
                    h3 Dance Categories
                    ul
                        a(href="classinfo") 
                            li Contemporary
                            li Hip-Hop
                            li Jazz
                            li Ballroom
                            li Salsa
                div.links
                    h3 Quick Links
                    ul
                        a(href="/contact")  
                            li Contact Us
                        a(href="/") 
                            li Privacy Policy
                        a(href="/") 
                            li Site Map 
                        a(href="/") 
                            li Contribute
            hr
            div.footerbottom 
                div.copyrights 
                    |Copyright © 2020 |All right reserved to Pratik Kumar
                    div.follow 
                        img(src="../static/follow1.png", alt="Follow Us")
